<div class="new-post-button-parent">
  <span>Additional Ideas: </span>
  <%= link_to "Create a new Session",
              new_post_path(branch: branch),
              :class => "new-post-button" %>
</div>
